# Ignore local environment variables (Crucial for DPA 2022 privacy!)
.env

# Ignore virtual environments and python caches
venv/
.venv/
__pycache__/
*.pyc

# Ignore OS specific junk
.DS_Store
Thumbs.db